<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>

<body>
    <header>
        <div class="logo">
            <h1>NewCi!</h1>
        </div>
        <button onclick="window.location.href='/';" class="logout-btn"> Logout</button>
    </header>

    <main>
        <div class="dashboard-container">
            <div class="left-section">
                <img src="{{ url_for('static', filename='images/Wombat.png') }}" alt="User Avatar" class="avatar">
            </div>
            <div class="right-section">
                <h1>Selamat Datang di Laundry <span>NewCi!</span></h1>
                <div class="menu">
                    <button class="menu-item">
                        <img src="{{ url_for('static', filename='images/Mesin_Cuci.png') }}" alt="Tambah Mesin">
                        <p>Tambah Mesin Cuci</p>
                    </button>
                    <button class="menu-item">
                        <img src="{{ url_for('static', filename='images/Bill.png') }}" alt="Buat Pesanan" id="card">
                        <p>Buat Pesanan</p>
                    </button>
                    <button class="menu-item">
                        <img src="{{ url_for('static', filename='images/Money.png') }}" alt="Pembayaran">
                        <p>Pembayaran</p>
                    </button>
                    <button class="menu-item" onclick="window.location.href = '/machines';">
                        <img src="{{ url_for('static', filename='images/List.png') }}" alt="Daftar Mesin">
                        <p>Daftar Mesin Cuci</p>
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>
<footer>
    <p>Cuci di laundry NewCi! Buat pakaianmu seperti New!</p>
</footer>

</html>